<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toogleSideBar()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Bootcamp App</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" >
      <ul fxLayout="row" flexlayoutGap="20px" >
        <li *ngIf="!UserLog" >
          <button mat-button>
            <mat-icon>vpn_key</mat-icon>
          </button>
        </li>
        <li *ngIf="UserLog">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item> {{user?.email}} </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Sing out
            </button>
          </mat-menu>

        </li>
      </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

